<div class="row">
    <div class="container col-md-4 col-md-offset-4">

            <h1>shop registration</h1>

                {{#abc}}
                <form action="/admin/update/{{this._id}}" method="post">
                    <div class="form-group">
                        <label for="name">title</label>
                        <input type="text" id="name" name="name" class="form-control" placeholder="{{this.place}}" >

                    </div>


                <div  class="form-group">
                    <label for="description">description 1</label>
                    <input type="text" id="description" name="description1"  class="form-control" placeholder="{{this.description1}}">
                </div>

                <div  class="form-group">
                    <label for="description2">description 2</label>
                    <input type="text" id="description2" name="description2"  class="form-control" placeholder="{{this.description2}}">
                </div>

                <div  class="form-group">
                    <label for="price">price</label>
                    <input type="text" id="price" name="price"  class="form-control" placeholder="{{this.price}}">
                </div>
                    <a href="/admin/admin" class="btn btn-primary">Cancel</a>
                <button type="submit" class="btn btn-primary">Update</button>

            </form>
                {{/abc}}
    </div>
</div>