 <div id="slider">
        {{#each room}}
            <figure>
                <img src="{{this.photo}}">
            </figure>
        {{/each}}
    </div>

 <div class="jumbotron">
     <h1 class="display-4">Explore Tours & Travels</h1>
     <p class="lead">So much of who we are is where we have been</p>
     <hr class="my-4">
     <p>we are the biggest and the famous tours and travels in india welcomes you <br>
     to our heaven</p>
     <a class="btn btn-primary btn-lg" href="/packages" role="button">packages</a>
 </div>



 <div class="container">

     <div>
         <h1 class="offer">BEST OFFERS</h1>
     </div>

     <div class="row">


         {{#each croom}}

             <div class="col-md-6 col-lg-3">

                 <div class="card">
                     <img src="{{this.imagePath}}" class="img-responsive" alt="..." style="padding-bottom: 28px;">
                     <div class="card-block">
                         <h5 class="card-title">{{this.place}}</h5>
                         <h5 class="card-text">seats:-{{this.persons}}</h5>
                         <p class="card-text">{{this.description1}}.<br>
                             {{this.description2}}<br>
                             ${{this.price}}/-
                         </p>
                         <div class="clearfix">
                             <a href="/best/{{this._id}}" class="btn btn-primary">Book your seat</a>
                             <a href="/enquiry" class="enquiry pull-left"><i class="fas fa-envelope"> Enquiry </i></a>
                         </div>

                     </div>
                 </div>

             </div>
         {{/each}}
     </div>
 </div>


 <footer class="page-footer font-small blue">

     <!-- Copyright -->
     <div class="footer-copyright text-center py-3">© 2020 Copyright:
         <a href="/"> Explore tours & travels</a>
         <a class="fb-ic">

             <a href=""> <i  class="fab fa-facebook-f white-text mr-4"> </i></a>
         </a>
         <!-- Twitter -->
         <a class="tw-ic">
             <i class="fab fa-twitter white-text mr-4"> </i>
         </a>
         <!-- Google +-->
         <a class="gplus-ic">
             <i class="fab fa-google-plus-g white-text mr-4"> </i>
         </a>
         <!--Linkedin -->
         <a class="li-ic">
             <i class="fab fa-linkedin-in white-text mr-4"> </i>
         </a>
         <!--Instagram-->
         <a class="ins-ic">
             <i class="fab fa-instagram white-text"> </i>
         </a>
     </div>
     <!-- Copyright -->

 </footer>

